---
import BaseLayout from "../layouts/BaseLayout.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import ContentLayout from "../components/ContentLayout.astro";
import Sidebar from "../components/Sidebar.astro";
import BoxButton from "../components/BoxButton.astro";
---

<GlobalStyles />
<BaseLayout>
  <main>
    <section class="bannerBox">
      <div class="imgBox">
        <img src="/20240214.webp" alt="" />
      </div>
      <a class="textBox" href="#">
        <h3>人类绿洲</h3>
        <p>For shame and pride.</p>
      </a>
    </section>
    <style>
      main {
        width: 64rem;
        margin: 0 auto;
      }

      main .bannerBox {
        padding: 3rem 4rem;
        position: relative;
      }

      main .bannerBox .imgBox {
        cursor: pointer;
      }

      main .bannerBox .imgBox img {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        height: 20rem;
      }

      main .bannerBox .textBox {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 120px;
        background-color: rgb(62, 136, 108);
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 999;
      }
    </style>
    <section class="content">
      <ContentLayout />
      <Sidebar />
    </section>

    <style>
      .content {
        display: flex;
        justify-content: space-between;
      }
    </style>

    <section class="boxbutton">
      <BoxButton />
    </section>
    <style>
      .boxbutton {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
      }
    </style>

    <section>
      <div class="myzj">
        <h2 class="title font-bold">我的踪迹</h2>
        <div class="myzj-right">
          <ul>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
            <li><a href=""><img src="" alt="" /><span>GitHub</span></a>q</li>
          </ul>
          <p class="qtzj">尝试在其他地方找到我</p>
        </div>
      </div>
    </section>
  </main>

  <style>
    .myzj {
      display: flex;
      padding: 3rem 0 0 3rem;
      gap: 3rem;
    }
    .myzj .title {
      writing-mode: vertical-lr;
      border-right: 4px solid #e5e7eb;
      padding-right: 1.25rem;
      letter-spacing: 0.1rem;
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    .myzj ul {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 1.25rem;
      list-style: none;
    }

    .myzj ul li a {
      padding: 0.5rem 1.25rem;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    .myzj .qtzj {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin: 1.5rem 0;
    }
  </style>

  <br />
  <br />
  <br />
  <br />
</BaseLayout>
