---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContentLayout from "@/components/ContentLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import BoxButton from "@/components/BoxButton.astro";
import Footer from "@/layouts/Footer.astro";
import Myzj from "@/components/myzj.astro";
import Zwjs from "@/components/zwjs.astro";
import BannerBox from "@/components/BannerBox.astro";
import "@/assets/css/BaseStyle.css";
import { getCollection } from "astro:content";

const posts = await getCollection('posts')
console.log(posts)

---

<BaseLayout>
  <main>
    <BannerBox />
    <ContentLayout>
      <Sidebar slot="sidebar" />
    </ContentLayout>
    <BoxButton />
    <Myzj />
    <Zwjs />
    <Footer />
  </main>
</BaseLayout>
