<section class="BoxButton">
  <a href="">
    <div class="ButtonItem">
      <div class="drop"></div>
      <h2 class="title">订阅</h2>
      <p>使用RSS订阅我的博客</p>
    </div>
  </a>
  <a href="">
    <div class="ButtonItem">
      <div class="drop"></div>
      <h2 class="title">怪奇灵感生成器</h2>
      <p>基于「无色的绿色想法愤怒地睡觉」原理的词组生成器</p>
    </div>
  </a>
  <a href="">
    <div class="ButtonItem">
      <div class="drop"></div>
      <h2 class="title">友情链接</h2>
      <p>我的互联网交际圈</p>
    </div>
  </a>
</section>

<style>
  .BoxButton {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    align-items: center;
  }

  .BoxButton .ButtonItem {
    background-color: #fff;
    position: relative;
    padding: 1.75rem;
    border: 0 solid #e5e7eb;
    padding: 1.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .BoxButton .ButtonItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  }

  .BoxButton .ButtonItem .drop {
    top: -0.75rem;
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #4d7c0f;
    border-radius: 50%;
  }

  .BoxButton .ButtonItem .title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.75rem 0;
  }
</style>
