---

---

<section class="myzj">
  <div class="myzy-left">
    <h2 class="title font-bold">我的踪迹</h2>
  </div>
  <div class="myzj-right">
    <ul>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
      <li><a href=""><img src="" alt="" /><span>GitHub</span></a></li>
    </ul>
    <p class="qtzj">尝试在其他地方找到我</p>
  </div>
</section>

<style>
  .myzj {
    display: flex;
    padding: 3rem 0 0 3rem;
    gap: 3rem;
  }
  .myzj .title {
    writing-mode: vertical-lr;
    border-right: 4px solid #e5e7eb;
    padding-right: 1.25rem;
    letter-spacing: 0.1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .myzj ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.25rem;
    list-style: none;
  }

  .myzj ul li a {
    padding: 0.5rem 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border: 1px solid #e5e7eb;
  }

  .myzj ul li a:hover {
    color: #4d7c0f;
    border: 1px solid #4d7c0f;
  }

  .myzj .qtzj {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 1.5rem 0;
    font-weight: 800;
  }
</style>
