---

---

<nav>
    <a class="logo"><img src="/logo.gif" alt=""></a>
    <div class="menuList">
        <a href="" class="linkItem"><div class="item">首页</div></a>
        <a href="" class="linkItem"><div class="item">产品</div></a>
        <a href="" class="linkItem"><div class="item">支持</div></a>
        <a href="" class="linkItem"><div class="item">秒懂</div></a>
        <a href="" class="linkItem"><div class="item">新闻</div></a>
        <a href="" class="linkItem"><div class="item">关于</div></a>
    </div>
    <div class="btnList">
        <a href="" class="linkItem"><div class="item">搜索</div></a>
        <a href="" class="linkItem"><div class="item">语言</div></a>
        <a href="" class="linkItem"><div class="item">商城</div></a>
        <a href="" class="linkItem"><div class="item">链接</div></a>
        <a href="" class="linkItem"><div class="item">有人云</div></a>
    </div>
</nav>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        height: 80px;
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
        padding: 0 10px;
        border-radius: 20px;
    }

    nav .logo {
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav .logo img {
        max-height: 60px;
        width: auto;
    }

    nav .menuList{
        display: flex;
    }

    nav .menuList .item{
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

    nav .btnList{
        display: flex;
    }

    nav .btnList .item{
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

</style>