---

---

<div class="sidebar">
  <h4>Previous Posts</h4>
  <ul>
    <li><a href="">Manjaro 桌面折腾记</a></li>
    <li><a href="">我的思绪像河流</a></li>
    <li><a href="">剔除每一寸多余的杂质</a></li>
  </ul>
  <a href="">查看更多</a>
</div>

<style>
  .sidebar {
    margin: 2.5rem 0;
  }

  .sidebar ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  }

  .sidebar ul li::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    margin-right: 5px;
  }
</style>
