<footer>
    <div class="footer-left">
        <div></div>
        <div>
            <p>
                <strong>站内链接：</strong><a href="">友情链接</a> | <a href=""
                    >博客归档</a
                > | <a href="">关于页面</a> | <a href="">RSS</a>
            </p>
            <p><strong>我的作品：</strong>怪奇灵感生成器</p>
        </div>
        <div>2019-2024 ZC</div>
    </div>
    <div class="footer-center"></div>
    <div class="footer-right"></div>
</footer>
